:root {
    --darkTrans: #22222280;
    --brown: rgb(65, 56, 49);
    --midBrown: rgb(104, 77, 55);
    --pale: rgb(153, 136, 122);
    --beige: #ffe4c4;
    --darkBeige: #dabf9e;
    --sepia: #ac7e46;
    --green: rgb(40, 202, 40);
    --yellow: gold;
    --orange: rgb(216, 134, 27);
    --red: rgb(212, 55, 55);
    --blue: rgb(71, 162, 214);
    --purple: rgb(156, 70, 236);
    }

body {
    background: var(--brown);
    min-height: 100vh;
    box-sizing: border-box;
    min-width: 100vw;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: var(--beige);
  }

.wrapper {
    margin: auto;
    max-width: 30rem;
    position: relative;
}
#Talents {
    display: block;
}
#Stone {
    display: none;
}
.skillTree {
    display: grid;
    grid-template-columns: 2rem 3fr 1fr;
    gap: 0;
}
.spec {
    display: grid;
    grid-template-columns: 2rem 1fr;
    background-color: var(--beige);
    gap: 0;
}
.selectClass {
    display: flex;
    overflow: scroll;
    background-color: var(--beige);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
.levelReq {
    display: grid;
    background-image: linear-gradient(90deg, var(--beige) 0%, var(--beige) 55%, var(--midBrown) 55%, var(--midBrown) 70%, var(--beige) 70%, var(--beige) 100%);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.talents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    background-color: var(--beige);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.tree {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
    background-color: var(--beige);
    margin-bottom: 1rem;
    gap: 0;
}
.corePassives {
    display: grid;
    background-color: var(--sepia);
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.ultimates {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-gap: 0;
    background-color: var(--beige);
}
.ultimateSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.treeItem, .skillitem, .treeIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stoneTree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    background-color: var(--beige);
}
.stoneItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillCalc, .stoneCalc, .resetText {
    position: absolute;
    background-color: var(--darkTrans);
    color: var(--beige);
    margin: 0;
    line-height: 1;
    padding: 2px 4px;
    pointer-events: none; 
    z-index: 5;
}
.skillCalc {
    border-radius: 0.5rem 0 0.5rem 0;
    bottom: 0;
    right: 0.5rem;
}
.stoneCalc {
    border-radius: 0.5rem;
    font-size: small;
    bottom: 0.2rem;
    right: 1rem;
}
.resetText {
    border-radius: 0.5rem 0 0.5rem 0;
    font-size: small;
    bottom: 0rem;
    right: 0.2rem;
}
.linkB {
    position: absolute;
    left: 1.75rem;
    height: 2rem;
    bottom: -2rem;
}
.linkBR {
    left: 2.75rem;
    height: 4rem;
    bottom: -3.2rem;
    transform: rotate(-38deg);
}
.linkBL {
    right: 2.75rem;
    height: 4rem;
    bottom: -3.2rem;
    transform: rotate(38deg);
}
.linkB, .linkBL, .linkBR {
    position: absolute;
    width: 2px;
    background-color: var(--sepia);
    transform-origin: top center;
    z-index: auto;
}
.req, .long {
    position: absolute;
    right: 2.75rem;
    background-color: var(--sepia);
    width: 0.5rem;
}
.req {
    height: 3rem;
    bottom: -3rem;
}
.long {
    height: 7rem;
    bottom: -7rem;
}
#plus, #minus {
    width: 3rem;
    padding-left: 0.5rem;
}
.popImg{
    margin-right: 5rem;
}
.popSkillCalc {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.treeItem img, .popImg {
    width: 5rem;
    border-radius: 0.5rem;
}
.stoneItem img {
    width: 3.5rem;
    z-index: 3;
}
.skillItem img, .classItem img, .popImg, .popSkillCalc, .skillCalc, h2, #plus, #minus, #skillOverlay .selectClass{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.skillItem img {
    width: 5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.classItem img {
    max-width: 100px;
    width: 6.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.blank {
    height: 4.6rem;
    display: flex;
    align-items: center;
    color: var(--midBrown);
}
.stoneBlank {
    display: flex;
    align-items: center;
}
.treeIcon img {
    border-radius: 50%;
    width: 5rem;
}
#skillOverlay {
    display: none;
    transition: opacity 5ms;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
}
.popup {
    position: relative;
    width: 25rem;
    min-height: 20rem;
    background-color: var(--brown);
    color:var(--beige);
    margin: auto;
    margin-top: 2.5rem;
    z-index: 7;
    padding: 1.5rem;
    border-radius: 1rem;
}
.green {
    color: var(--green);
}
.yellow {
    color: var(--yellow);
}
.red {
    color: var(--red);
}
.orange{
    color: var(--orange);
}
.blue{
    color: var(--blue);
}
.purple{
    color: var(--purple);
}
.brown {
    color: var(--midBrown)
}
.gray {
    filter: grayscale(85%);
}
.colour {
    filter: grayscale(0%);
    filter: brightness(100%);
}
.bright {
    filter: brightness(50%);
}
.circle {
    border-radius: 50%;
    outline: 1px solid var(--sepia);
    outline-offset: -1px;
}
.square {
    border-radius: 0.5rem;
    outline: 1px solid var(--sepia);
    outline-offset: -1px;
}
.octagon {
    clip-path: polygon(50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%, 15% 15%);
}
.diamond {
    clip-path: polygon(50% 1%, 98% 50%, 50% 99%, 1% 50%);
    position: absolute;
    top: -2.4rem;
    left: -1.8rem;
}
.shadow {
    filter: 
        drop-shadow( 1px  0px 0px var(--sepia)) 
        drop-shadow(-1px  0px 0px var(--sepia))
        drop-shadow( 0px  1px 0px var(--sepia)) 
        drop-shadow( 0px -1px 0px var(--sepia));
}
.dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--midBrown);
    border-radius: 50%;
}
.rotate {
    writing-mode:vertical-rl;
    color: var(--beige);
    z-index: 3;
    position: absolute;
}
.rect {
    height: 7rem;
}
.rectSpec {
    height: 4.5rem;
}
.rect, .rectSpec {
    width: 1.5rem;
    background-color: var(--midBrown);
    border-radius: 0.5rem;
}
.treeItem p {
    position: absolute;
    z-index: 3;
    color:var(--beige);
}
.right {
    text-align: right;
    justify-content: right;
}
.left {
    justify-content: left;
}
.below {
    position: absolute;
    bottom: -0.7rem;
    color: var(--midBrown);
}
.notes {
    font-size: 2rem;
}
.textBox {
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 0.3rem;
    font-size: medium;
    background-color: var(--beige);
    color: var(--midBrown);
    outline: none;
    border: 1px solid var(--brown);
}
.button{
    margin-left: 1rem;
    margin-top: 0.75rem;
    padding: 0.3rem;
    font-size: medium;
    background-color: var(--midBrown);
    color: var(--beige);
    outline: none;
    border: 1px solid var(--midbrown);
    border-radius: 0.25rem;
}
input::placeholder{
    color: var(--brown);
  }
.nudge {
    margin-left: 2rem;
}
.border {
    outline: 3px solid var(--sepia);
    outline-offset: -3px;
}
.bground {
    background-color: var(--darkBeige);
    outline: 4px solid var(--beige);
    outline-offset: -3px;
}
@media screen and (max-width: 450px) {
    body {
        background-color: var(--beige);
    }
    .stoneTree {
        grid-row-gap: 1.75rem;
        grid-column-gap: 0.25rem;
        padding-left: 0rem;
        padding-right: 0.3rem; 
    }
    .stoneItem img {
        max-width: 3rem;
    }
    .stoneCalc {
        right: 0.8rem;
    }
    .popup {
        width: 20rem;
    }
    .treeItem img, .popImg {
        max-width: 4.5rem;
    }
    .popImg{
        margin-right: 2.5rem;
    }
    .skillItem img, .treeIcon img {
        max-width: 4rem;
    }
    .classItem {
        max-width: 5rem;
    }
    .classItem img {
        max-width: 5rem;
    }
    .selectClass {
        padding-left: 0.5rem;
    }
    .talents {
        grid-gap: 0.75rem;
    }
    .corePassives {
        grid-gap: 0.75rem;
    }
    .blank {
        min-height: 4.5rem;
    }
    .skillCalc {
        bottom: 0.05rem;
        right: 0.35rem;
        line-height: 1;
    }
    .linkB {
        left: 1.55rem;
        bottom: -1.75rem;
    }
    .linkBL {
        left: 1rem;
    }
    .linkBR {
        left: 2.1rem;
    }
    .req, .long {
        right: 2.25rem;
    }
    .req {
        bottom: -2.97rem;
    }
    .diamond {
        top: -2rem;
        left: -1.45rem;
        }
    .plusMinus {
        width: 2.5rem;
    }
    .popSkillCalc {
        font-size: 2.75rem;
        font-weight: 300;
    }
    .below {
        right: 2.25rem;
    }
}