:root {
    --brown: rgb(65, 56, 49);
    --beige: #ffe4c4;
    --sepia: #9b6e38;
    --green: rgb(40, 202, 40);
    --yellow: gold;
    --red: rgb(216, 134, 27);
    }

body {
    background: var(--brown);
    min-height: 100vh;
    box-sizing: border-box;
    min-width: 100vw;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: var(--beige);
  }

.wrapper {
    margin: auto;
    max-width: 30rem;
    position: relative;
}
#paladinGuard {
    display: block;
}
#paladinJustice {
    display: none;
}
.skillTree {
    display: grid;
    grid-template-columns: 2rem 3fr 1fr;
    gap: 0;
}
.spec {
    display: grid;
    grid-template-columns: 2rem 1fr;
    background-color: var(--beige);
    gap: 0;
}
.levelReq {
    display: grid;
    background-image: linear-gradient(90deg, var(--beige) 0%, var(--beige) 55%, var(--sepia) 55%, var(--sepia) 70%, var(--beige) 70%, var(--beige) 100%);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.talents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    background-color: var(--beige);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.corePassives {
    display: grid;
    background-color: var(--sepia);
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.ultimates {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-gap: 0;
    background-color: var(--beige);
}
.ultimateSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.treeItem, .skillitem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.treeItem img, .popup img {
    width: 5rem;
    border-radius: 0.5rem;
}
.skillItem img {
    width: 5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.blank {
    height: 4.6rem;
}
#skillOverlay {
    transition: opacity 5ms;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.popup {
    position: relative;
    width: 25rem;
    min-height: 20rem;
    background-color: var(--brown);
    color:var(--beige);
    margin: auto;
    margin-top: 2.5rem;
    z-index: 10;
    padding: 1.5rem;
    border-radius: 1rem;
}
.green {
    color: var(--green);
}
.yellow {
    color: var(--yellow);
}
.red {
    color: var(--red);
}
.dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--sepia);
    border-radius: 50%;
}
.rotate {
    writing-mode:vertical-rl;
    color: var(--beige);
    z-index: 3;
    position: absolute;
}
.rect {
    height: 7rem;
}
.rectSpec {
    height: 4.5rem;
}
.rect, .rectSpec {
    width: 1.5rem;
    background-color: var(--sepia);
    border-radius: 0.5rem;
}
.treeItem p {
    position: absolute;
    z-index: 3;
    color:var(--beige);
}

@media screen and (max-width: 450px) {
    body {
        background-color: var(--beige);
    }
    .popup {
        width: 20rem;
    }
    .treeItem img, .popup img {
        max-width: 4.5rem;
    }
    .skillItem img {
        max-width: 4rem;
    }
    .talents {
        grid-gap: 0.75rem;
    }
    .corePassives {
        grid-gap: 0.75rem;
    }
    .blank {
        min-height: 4.5rem;
    }
}