:root {
    --darkTrans: #22222280;
    --brown: rgb(65, 56, 49);
    --beige: #ffe4c4;
    --sepia: #9b6e38;
    --green: rgb(40, 202, 40);
    --yellow: gold;
    --orange: rgb(216, 134, 27);
    --red: rgb(212, 55, 55);
    --blue: rgb(46, 142, 197);
    --purple: rgb(156, 70, 236);
    }

body {
    background: var(--brown);
    min-height: 100vh;
    box-sizing: border-box;
    min-width: 100vw;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: var(--beige);
  }

.wrapper {
    margin: auto;
    max-width: 30rem;
    position: relative;
}
#warrior, #PAGU, #BASL, #WAWS, #MAFR, #RAHU, #PRDG, #BBFZ, #SSCU, #PNSH {
    display: block;
}
#bard, #paladin, #necro, #mage, #ranger, #priest, #barbarian, #shadow, #PAJU, #BAHA, #WAWR, #MAFL, #RATB, #PRDR, #BBTH, #SSDU, #PNSS {
    display: none;
}

.skillTree {
    display: grid;
    grid-template-columns: 2rem 3fr 1fr;
    gap: 0;
}
.spec {
    display: grid;
    grid-template-columns: 2rem 1fr;
    background-color: var(--beige);
    gap: 0;
}
.selectClass {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--beige);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
}
.levelReq {
    display: grid;
    background-image: linear-gradient(90deg, var(--beige) 0%, var(--beige) 55%, var(--sepia) 55%, var(--sepia) 70%, var(--beige) 70%, var(--beige) 100%);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.talents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    background-color: var(--beige);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.corePassives {
    display: grid;
    background-color: var(--sepia);
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.ultimates {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-gap: 0;
    background-color: var(--beige);
}
.ultimateSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.treeItem, .skillitem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillCalc {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    background-color: var(--darkTrans);
    color: var(--beige);
    margin: 0;
    line-height: 1;
    padding: 2px 4px;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 0.5rem 0 0.5rem 0;
}
.req, .long {
    position: absolute;
    right: 2.75rem;
    background-color: var(--sepia);
    width: 0.5rem;
}
.req {
    height: 3rem;
    bottom: -3rem;
}
.long {
    height: 7rem;
    bottom: -7rem;
}
.plusMinus {
    width: 3rem;
    padding-left: 0.5rem;
}
.popImg{
    margin-right: 5rem;
}
.popSkillCalc {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.treeItem img, .popImg {
    width: 5rem;
    border-radius: 0.5rem;
}
.skillItem img {
    width: 5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.classItem img {
    width: 6.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.blank {
    height: 4.6rem;
    display: flex;
    align-items: center;
    color: var(--sepia);
}
#skillOverlay {
    display: none;
    transition: opacity 5ms;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
}
.popup {
    position: relative;
    width: 25rem;
    min-height: 20rem;
    background-color: var(--brown);
    color:var(--beige);
    margin: auto;
    margin-top: 2.5rem;
    z-index: 10;
    padding: 1.5rem;
    border-radius: 1rem;
}
.green {
    color: var(--green);
}
.yellow {
    color: var(--yellow);
}
.red {
    color: var(--red);
}
.orange{
    color: var(--orange);
}
.blue{
    color: var(--blue);
}
.purple{
    color: var(--purple);
}
.gray {
    filter: grayscale(80%);
}
.colour {
    filter: grayscale(0%);
}
.dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--sepia);
    border-radius: 50%;
}
.rotate {
    writing-mode:vertical-rl;
    color: var(--beige);
    z-index: 3;
    position: absolute;
}
.rect {
    height: 7rem;
}
.rectSpec {
    height: 4.5rem;
}
.rect, .rectSpec {
    width: 1.5rem;
    background-color: var(--sepia);
    border-radius: 0.5rem;
}
.treeItem p {
    position: absolute;
    z-index: 3;
    color:var(--beige);
}
.right {
    text-align: right;
    justify-content: right;
}
.left {
    justify-content: left;
}
.notes {
    font-size: 2rem;
}

@media screen and (max-width: 450px) {
    body {
        background-color: var(--beige);
    }
    .popup {
        width: 20rem;
    }
    .treeItem img, .popImg {
        max-width: 4.5rem;
    }
    .popImg{
        padding-right: 3rem;
    }
    .skillItem img {
        max-width: 4rem;
    }
    .classItem {
        max-width: 5rem;
    }
    .selectClass {
        padding-left: 0.5rem;
    }
    .talents {
        grid-gap: 0.75rem;
    }
    .corePassives {
        grid-gap: 0.75rem;
    }
    .blank {
        min-height: 4.5rem;
    }
    .skillCalc {
        bottom: 0.05rem;
        right: 0.4rem;
        line-height: 1;
    }
    .req, .long {
        right: 2.25rem;
    }
    .req {
        bottom: -2.97rem;
    }
    .plusMinus {
        width: 2.5rem;
    }
    .popSkillCalc {
        font-size: 2.75rem;
        font-weight: 300;
    }
}